* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f2f2f2;
}

h1 {
    font-size: 120px;
    text-align: center;
    color: white;
}

.parallax-1 {
    background: url(baixado/1119534.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.parallax-inner {
    padding: 10% 0;
}

h2 {
    font-size: 32px;
    color: #555;
    text-align: center;
    font-weight: 300;
    letter-spacing: 2px;
    margin: 20px 0 10px;
}

.parallax-2 {
    background: url(baixado/Leaves_from_plant_green-Plants_Photo_HD_Wallpaper_1366x768.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.parallax-3 {
    background: url(baixado/depositphotos_464814388-stock-video-healthy-eating-concept-beans-and.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.parallax-4 {
    background: url(baixado/Fruits-and-vegetables-orange-apple-banana-tomato-melon-grapes_3840x2160.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.parallax-5 {
    background: url(baixado/4k-wheat-grains-macro-wheat-textures-cereals.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.parallax-6 {
    background: url(baixado/Green_leaves_stems_4k_closeup_3840x2400.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.parallax-7 {
    background: url(baixado/Roots-trees-river_1920x1200.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

a {
    text-decoration: none;
    border-radius: 6px;
    width: 160px;
    text-align: center;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 46px;
    background-color: rgb(114, 202, 147);
    color: #fff;
}

a:hover {
    box-shadow: 4px 4px 4px #000;
    transition: 0.5s;
}